* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.repos-container {
  width: 800px;
  background-color: #f6f6f6;
  margin: auto;
}

.repos-container .get-repos {
  padding: 20px;
  display: flex;
  background-color: #eee;
}

.repos-container .get-repos input {
  width: 100%;
  padding: 15px 20px;
  border: none;
  font-size: 20px;
  height: 54px;
  border-radius: 6px;
}

.repos-container .get-repos input:focus {
  outline: 2px solid #f44336;
}

.repos-container .get-repos .get-button {
  width: 140px;
  margin-left: 10px;
  height: 54px;
  background-color: #f44336;
  color: #fff;
  line-height: 54px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
}

.repos-container .show-data {
  padding: 20px;
  background-color: #e0e0e0;
}

.repos-container .show-data .repo-box {
  background-color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  position: relative;
  font-weight: bold;
}
.repos-container .show-data .repo-box a {
  position: absolute;
  text-decoration: none;
  right: 100px;
  background-color: #f44336;
  color: #fff;
  border-radius: 6px;
  padding: 6px 12px;
  font-weight: normal;
  margin: 0 26px;
}

.repos-container .show-data .stars-count {
  background-color: #009688;
  color: #fff;
  border-radius: 6px;
  padding: 6px 12px;
  font-weight: normal;
}

.repos-container .show-data .repo-box:not(:last-child) {
  margin-bottom: 5px;
}
